<p><%= answer.answer %></p>
<p><strong>Explanation:</strong></p>
<p><%= answer.explanation %></p>
<p class="<%= answer.right ? 'green' : 'red' %>"><%= answer.right ? 'Correct' : 'Wrong' %> answer</p>
<%= link_to edit_answer_path(answer), remote: true do %>
  <button class="btn-all btn-sec">EDIT</button>
<% end %>
