<div class="container d-flex">
  <div class="row w-100 pt-4">
    <% policy_making_institutions.each_with_index do |pmi, i| %>
      <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-3 institutions-list">
        <!-- card -->
        <div class="card-all card-square card-clickable mx-auto" data-toggle="modal" data-target="#pmi-<%= pmi.id %>-modal">
          <%= cl_image_tag pmi.institution.logo.key, crop: :thumb, height: 300, width: 300, class:"avatar-large" %>
          <p><%= pmi.institution.name %></p>
        </div>
        <!-- modal -->
        <div class="modal" id="pmi-<%= pmi.id %>-modal" tabindex="-1" aria-labelledby="institutionModal" aria-hidden="true">
          <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content pb-3">
              <div class="modal-header align-items-center px-5">
                <h3 class="modal-title" id="institutionModal"><mark class="mark-blue"><%= pmi.institution.name %></mark></h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true"><i class="fas fa-times card-icon"></i></span>
                </button>
              </div>
              <div class="modal-body d-flex">
                <i class="fas fa-chevron-left card-icon mr-4" data-target="#pmi-<%= policy_making_institutions[i - 1] ? policy_making_institutions[i - 1].id : policy_making_institutions[-1].id %>-modal" data-toggle="modal" data-dismiss="modal"></i>
                <div class="d-flex flex-column flex-lg-row justify-content-between">
                  <div class="<%= pmi.institution.video_url && !pmi.institution.video_url.empty? ? 'container-half' : '' %>">
                    <p><%= pmi.description %></p>
                    <%= link_to "Learn more", pmi.institution.website_url, target: "_blank", class: "text-link" %>
                  </div>
                  <% if pmi.institution.video_url && !pmi.institution.video_url.empty?%>
                    <div class="container-half">
                      <iframe class="video-small mt-3" src="<%= pmi.institution.video_url %>" title="YouTube video player" frameborder="0" allowfullscreen></iframe>
                      <% if pmi.institution.video_source %>
                        <p class="subtitle"><em>by <%= pmi.institution.video_source %></em></p>
                      <% end %>
                    </div>
                  <% end %>
                </div>
                <i class="fas fa-chevron-right card-icon ml-4" data-target="#pmi-<%= policy_making_institutions[i + 1] ? policy_making_institutions[i + 1].id : policy_making_institutions[0].id %>-modal" data-toggle="modal" data-dismiss="modal"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
