<div class="container d-flex">
  <div class="row w-100 pt-4">
    <% policy_institutions.each_with_index do |pi, i| %>
      <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-3 institutions-list">
        <!-- card -->
        <div class="card-all card-square card-clickable mx-auto" data-toggle="modal" data-target="#pi-<%= pi.id %>-modal">
          <%= cl_image_tag pi.institution.logo.key, height: 300, width: 300, class:"logo" %>
          <p><%= pi.institution.name %></p>
        </div>
        <!-- modal -->
        <div class="modal" id="pi-<%= pi.id %>-modal" tabindex="-1" aria-labelledby="institutionModal" aria-hidden="true">
          <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content pb-3">
              <div class="modal-header align-items-center px-5">
                <h3 class="modal-title" id="institutionModal"><strong><%= pi.institution.name %></strong></h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true"><i class="fas fa-times card-close"></i></span>
                </button>
              </div>
              <div class="modal-body d-flex">
                <i class="fas fa-chevron-left card-arrow mr-4" data-target="#pi-<%= policy_institutions[i - 1] ? policy_institutions[i - 1].id : policy_institutions[-1].id %>-modal" data-toggle="modal" data-dismiss="modal"></i>
                <div class="flex-grow-1 d-flex flex-column flex-lg-row justify-content-between">
                  <div class="<%= pi.institution.video_url && !pi.institution.video_url.empty? ? 'container-half' : '' %>">
                    <p><%= pi.description %></p>
                    <%= link_to "Learn more", pi.institution.website_url, target: "_blank", class: "text-link" %>
                  </div>
                  <% if pi.institution.video_url && !pi.institution.video_url.empty?%>
                    <div class="container-half">
                      <iframe class="video-small mt-3" src="<%= pi.institution.video_url %>" allow="" title="video player" frameborder="0" allowfullscreen=""></iframe>
                      <% if pi.institution.video_source %>
                        <p class="subtitle"><em>by <%= pi.institution.video_source %></em></p>
                      <% end %>
                    </div>
                  <% end %>
                </div>
                <i class="fas fa-chevron-right card-arrow ml-4" data-target="#pi-<%= policy_institutions[i + 1] ? policy_institutions[i + 1].id : policy_institutions[0].id %>-modal" data-toggle="modal" data-dismiss="modal"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
