<nav class="navbar navbar-expand-md navbar-light navbar-all <%= current_page?(controller: '/pages', action: 'home') ? 'navbar-transp' : 'navbar-white' %>" id="nav">
  <div class="container">
    <div class="horizontal-list">
      <ul>
        <li class="nav-item nav-item-ours"><%= link_to "Home", root_path, class: "nav-link nav-link-ours #{current_page?(controller: '/pages', action: 'home') ? 'active' : ''}" %></li>
      </ul>
    </div>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="horizontal-list collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav navbar-nav-ours mr-auto">
        <% if user_signed_in? %>
          <!-- Institutions -->
          <li class="nav-item nav-item-ours"><%= link_to "Policymakings", policy_makings_path, class: "nav-link nav-link-ours #{current_page?(controller: '/policy_makings') ? 'active' : ''}" %></li>
          <li class="nav-item nav-item-ours"><%= link_to "Policy Plans", policy_plans_path, class: "nav-link nav-link-ours #{current_page?(controller: '/policy_plans') ? 'active' : ''}" %></li>
          <!-- Take Action -->
          <li class="nav-item dropdown">
            <%= image_tag "https://kitt.lewagon.com/placeholder/users/ssaunier", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
            <div class="dropdown-menu dropdown-menu-ours card-all dropdown-menu-right" aria-labelledby="navbarDropdown">
              <%= link_to "My Profile", "#", class: "dropdown-item dropdown-item-ours" %>
              <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item dropdown-item-ours" %>
            </div>
          </li>
        <% else %>
          <li class="nav-item nav-item-ours"><%= link_to "Explore", explore_path, class: "nav-link nav-link-ours #{current_page?(controller: '/pages', action: 'explore') ? 'active' : ''}" %></li>
          <li class="nav-item nav-item-ours"><%= link_to "Policy Plans", policy_plans_path, class: "nav-link nav-link-ours #{current_page?(controller: '/policy_plans') ? 'active' : ''}" %></li>
          <!-- Take Action -->
          <li class="nav-item nav-item-ours"><%= link_to "About us", about_path, class: "nav-link nav-link-ours #{current_page?(controller: '/pages', action: 'about') ? 'active' : ''}" %></li>
          <li class="nav-item nav-item-ours"><%= link_to "Join us", join_path, class: "nav-link nav-link-ours #{current_page?(controller: '/volunteers', action: 'index') ? 'active' : ''}" %></li>
          <li class="nav-item nav-item-ours"><%= link_to "Login", new_user_session_path, class: "nav-link nav-link-ours" %></li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>

