<%= simple_form_for :organisation_country, url: organisations_path, method: :get do |f| %>
  <%= f.input :country, required: false, collection: Country.distinct.pluck(:name), input_html: { class: "select2-country", multiple: ""} %>

  <%= f.input :topic, as: :hidden %>
  <%= f.input :type, as: :hidden %>

  <% f.button :submit, "Filter by country", class: 'btn-all btn-yllw' %>
<% end %>

<% if @selected_countries.nil? %>
  <div class="d-none" id="retained-selected-countries" data-retained-selected-countries="<%=  %>"></div>
<% else %>
  <div class="d-none" id="retained-selected-countries" data-retained-selected-countries="<%= @selected_countries.reject(&:blank?).join(',') %>"></div>
<% end %>
