<div class="card-all d-flex flex-column flex-md-row my-3">
  <%= cl_image_tag organisation.logo.key, height: 300, width: 300, class:"logo mx-4 mb-4 mt-2" %>
  <div>
    <h3><strong><%= organisation.name %></strong></h3>
    <div class="d-flex flex-wrap">
      <% organisation.countries.each do |country| %>
        <p class="tag tag-light-blue mr-2 my-1"><%= country.name %></p>
      <% end %>
      <% organisation.topics.each do |topic| %>
        <p class="tag tag-light-blue mr-2 my-1"><%= topic.name %></p>
      <% end %>
      <% organisation.opportunity_types.uniq.each do |opportunity_type| %>
        <p class="tag tag-light-blue mr-2 my-1"><%= opportunity_type.name %></p>
      <% end %>
    </div>
    <p><%= organisation.description %></p>
    <%= link_to 'Learn more', organisation.learn_more_link, target: '_blank', class: 'text-link' %>
  </div>
</div>
