<header class="header-banner">
  <%= render 'shared/navbar' %>
  <div class="container banner">
    <div class="container-half">
      <h1>OpenPolicy Europe</h1>
      <p>The digital hub for understanding and engaging with policymaking</p>
      <a href="join.html"><button class="btn-all btn-yllw">Join us</button></a>

      <%= simple_form_for @policy_making, url: root_path, method: :get do |f| %>
        <div class="country-topic">
            <div id="country-filter">
              <%= f.input :country_id, required: true, collection: Country.all %>
            </div>
            <div id="topic-filter">
              <%= f.input :topic_id, required: true, collection: Topic.all %>
            </div>
          </div>
          <%= f.submit "Explore", class: "btn-all btn-yllw" %>
        </div>
      <% end %>

    </div>
  </div>
</header>

