<header class="header-banner">
  <%= render 'shared/navbar' %>
  <div class="container banner">
    <div>
      <h1 class="title">OpenPolicy Europe</h1>
      <p class="slogan">The digital hub for understanding and engaging with policymaking</p>
    </div>
    <div class="py-4">
      <p>Choose a country (or Europe) and a topic to start exploring:</p>
      <%= simple_form_for @policy_making, url: root_path, method: :get do |f| %>
        <div class="d-flex flex-column flex-md-row country-topic-form">
          <div class="d-flex form-all country-topic">
            <div class="form-field country-topic-field" id="country-filter">
              <%= f.input :country_id, required: true, collection: Country.all %>
            </div>
            <div class="form-field country-topic-field" id="topic-filter">
              <%= f.input :topic_id, required: true, collection: Topic.all %>
            </div>
          </div>
          <%= f.submit "Explore", class: "btn-all btn-yllw country-topic-submit" %>
        </div>
      <% end %>
    </div>
    <div class="container-half pb-3">
      <p>Do you want to find out how you can get actively involved? Engage in policymaking today:</p>
      <button class="btn-all btn-prim my-0">Engage</button>
    </div>
    <div class="text-center">
      <a href="#policy"><i class="fas fa-chevron-down"></i></a>
    </div>
  </div>
</header>
<main>
  <section class="py-5" id="policy">
    <div class="container text-center">
      <h2><mark class="mark-yllw">What is a Policy?</mark></h2>
      <div class="container-tiny d-flex policy-definition">
        <img src="https://res.cloudinary.com/dhnsnkxbe/image/upload/v1630600287/openpolicyeu/aspas_vdpjfy.png" alt="" class="img-decorative img-bottom">
        <p>A <a href="https://www.collinsdictionary.com/dictionary/english/policy" target="_blank" class="text-link">policy</a> is a set of ideas or plans that is used as a basis for making decisions, especially in politics, economics, or business.</p>
        <img src="https://res.cloudinary.com/dhnsnkxbe/image/upload/v1630598205/openpolicyeu/thinking_smile_gbpqnu.png" alt="" class="img-decorative img-top">
      </div>
      <div class="d-flex align-items-center pt-5 policy-description">
        <i class="far fa-hand-point-right icon-decorative"></i>
        <p>In politics, a policy is a set of regulations or laws which defines how a government strategy will be implemented.  Policymaking is a process where negotiations and compromises are necessary to reach an agreement and  to deliver change.</p>
        <img src="https://res.cloudinary.com/dhnsnkxbe/image/upload/v1630600913/openpolicyeu/dashes_mwni0a.png" alt="" class="img-decorative">
      </div>
    </div>
  </section>
  <section class="py-5">
    <%= render 'pages/partials/steps_policymaking' %>
  </section>
  <section class="py-5 bkg-blue">
    <%= render 'pages/partials/recent_policymakings',
        recent_policy_makings: @recent_policy_makings %>
  </section>
  <section class="py-5">
    <div class="container-short text-center">
      <h2><mark class="mark-yllw">Get involved!</mark></h2>
      <p>Discover volunteering, internship or job opportunities where you can be actively involved with policymaking across Europe.</p>
      <p>Find out how and with who <strong>you can make a meaningful impact:</strong></p>
      <button class="btn-all btn-prim">Engage</button>
    </div>
  </section>
  <section class="py-5 bkg-blue">
    <div class="container-short text-center">
      <h2><mark class="mark-yllw">Join OpenPolicy Europe</mark></h2>
      <p>We are looking for more people to <strong>help us turn this idea into reality</strong>.</p>
      <p>Do you believe that policymaking should be more collaborative and inclusive? Find out how you can make it happen:</p>
      <%= link_to join_path(anchor: 'nav') do %><button class="btn-all btn-yllw">Join us</button><% end %>
    </div>
  </section>
</main>
