<div class="card-all card-selected my-3">
  <div class="px-4 py-3">
    <div class="d-flex justify-content-between">
      <h3><strong><%= volunteer_position.name %></strong></h3>
      <%= link_to close_position_path(volunteer_position_id: volunteer_position.id), remote: true do %>
        <i class="fas fa-chevron-up accordion-btn accordion-open-btn"></i>
      <% end %>
    </div>
    <div class="container-short">
      <p><%= volunteer_position.description %></p>
      <% if volunteer_position.requirements %>
        <p class="mb-0"><strong>Requirements</strong></p>
        <p class="mt-0"><%= volunteer_position.requirements %></p>
      <% end %>
      <p class="mb-0"><strong>How to apply</strong></p>
      <p class="mt-0">Please apply by sending an email to <a href="mailto:info@openpolicy.eu" class="text-link">info@openpolicy.eu</a> with your CV.
      <% if volunteer_position.how_to_apply %>
        <%= volunteer_position.how_to_apply %>
      <% end %>
      Tell us a bit about yourself and how you would like to contribute to the OpenPolicy Europe project. Looking forward to meet you!</p>
    </div>
  </div>
</div>
