<div class="container text-center">
  <h2><mark class="mark-yllw">What's New?</mark></h2>
  <p>Explore our most recent and updated content on policymaking around Europe:</p>
  <div class="container mt-4">
    <div class="row">
      <% recent_policy_makings.each do |pm| %>
        <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-3">
          <%= link_to policy_making_path(pm, anchor: 'nav'), class: 'card-link' do %>
            <div class="card-all card-square card-clickable policy-recent d-flex flex-column justify-content-between mx-auto">
              <i class="<%= pm.topic.icon %> <%= pm.topic.icon_color %>"></i>
              <div>
                <p><strong><%= pm.topic.name %></strong></p>
                <p>Policymaking in</p>
                <p><strong><%= pm.country.name %></strong></p>
              </div>
              <%= cl_image_tag pm.country.flag.key %>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>
