<%= simple_form_for game_answer, remote: true do |f| %>
  <%= f.input :answer, required: true %>
  <%= f.input :explanation, required: true, as: :text, :input_html => { :cols => 5, :rows => 5 } %>
  <p>
    Is this answer correct? &ensp; &ensp;
    <%= f.radio_button :right, true, required: true %> Yes &ensp; &ensp;
    <%= f.radio_button :right, false, required: true %> No
  </p>
  <%= f.button :submit, "SAVE", class: 'btn-all btn-prim' %>
<% end %>
