<%= simple_form_for policy_plan do |f| %>
  <div class="pm-form">
    <%= f.input :policy_making_id, required: true, collection: PolicyMaking.all %>
  </div>
  <%= f.input :name, required: true %>
  <%= f.input :short_description, as: :text, label: "Short description", required: true, :input_html => { :cols => 5, :rows => 2 } %>
  <%= f.input :content, as: :text, label: "Description", required: true, :input_html => { :cols => 5, :rows => 5 } %>
  <!-- Number of characters (min/max) for "content" to be implemented later -->
  <%= f.input :video_url, label: "Video URL", hint: "If it's an Youtube video, make sure to change \"watch?v=\" into \"embed/\"", required: false %>
  <%= f.input :video_alt_text, label: "Video short description", required: false %>
  <!-- Number of characters (min/max) for "video_alt_text" to be implemented later -->
  <%= f.input :video_source, label: "Who’s the creator/holds the rights to the video?", required: false %>
  <!-- Ambassador to be added once we have ambassadors -->
  <p>Is this a Policy Plan or a Strategy?</p>
  <p>
    <%= f.radio_button :strategy, false, required: true %> Policy Plan &ensp; &ensp;
    <%= f.radio_button :strategy, true, required: true %> Strategy
  </p>
  <%= f.button :submit, "Save", class: 'btn-all btn-prim' %>
<% end %>
