<main>
  <section class="py-5">
    <div class="container">
      <h1>Edit <%= @policy_making.topic.name %> Policymaking in <%= @policy_making.country.name %></h1>
      <h2><mark class="mark-yllw">How does it work?</mark></h2>
      <div id="edit-policy-making">
        <%= render 'policy_makings/partials/edit_policy_making', policy_making: @policy_making %>
      </div>
      <h3 class="mt-5"><mark class="mark-blue">Question on "How does it work?"</mark></h3>
      <div id="content-question">
        <div id="create-content-question">
          <%= render 'policy_makings/partials/create_question', policy_making: @policy_making, question_scope: "content", question: @question %>
        </div>
        <%= render 'policy_makings/partials/show_question', policy_making: @policy_making, question_scope: "content", new_answer: @new_answer %>
      </div>
    </div>
  </section>
  <section class="py-5">
    <div class="container">
      <h2><mark class="mark-yllw">Institutions</mark></h2>
      <div id="pmi-cards">
        <%= render 'policy_makings/partials/pmi_cards', policy_making_institutions: @policy_making_institutions %>
      </div>
      <h3 class="mt-5"><mark class="mark-blue">Add an Institution</mark></h3>
      <div id="new-pmi-form">
        <%= render 'policy_makings/partials/new_policy_making_institution', policy_making: @policy_making, policy_making_institution: @policy_making_institution %>
      </div>
      <p>Can't find the Institution you are looking for? <strong>Add a new Institution:</strong></p>
      <div id="new-institution-form">
        <%= render 'policy_makings/partials/new_institution', institution: @institution, policy_making: @policy_making %>
      </div>
      <h3 class="mt-5"><mark class="mark-blue">Question on the Institutions</mark></h3>
      <div id="institutions-question">
        <div id="create-institutions-question">
          <%= render 'policy_makings/partials/create_question', policy_making: @policy_making, question_scope: "institutions", question: @question %>
        </div>
        <%= render 'policy_makings/partials/show_question', policy_making: @policy_making, question_scope: "institutions", new_answer: @new_answer %>
      </div>
    </div>
  </section>
</main>

