<h1>Edit <%= @policy_making.topic.name %> Policymaking in <%= @policy_making.country.name %></h1>

<h2>How does it work?</h2>

<div id="edit-policy-making">
  <%= render 'policy_makings/partials/edit_policy_making', policy_making: @policy_making %>
</div>


<p>Question on "How does it work?" </p>

<% if @content_question.nil? %>
  <!-- Form to add a new "content" question :
    - This form is only visible if no "content" question has been added
    - Scope is added automatically (hidden field) -->
  <%= simple_form_for [@policy_making, @new_question] do |f| %>
    <%= f.input :question, required: true %>
    <%= f.input :scope, as: :hidden,  input_html: {value: "content"} %>
    <%= f.button :submit, "SAVE", class: 'btn-all btn-yllw' %>
  <% end %>

<% else %>
  <!-- Form to edit the "content" question :
    - This form becomes visible as soon as the "content" question has been added
    - This form is pre-filled with the current "content" question -->
  <%= simple_form_for @content_question do |f| %>
    <%= f.input :question, required: true %>
    <%= f.button :submit, "SAVE", class: 'btn-all btn-yllw' %>
  <% end %>

  <!-- All answers are displayed here -->
  <% @content_question.answers.each_with_index do |answer, i| %>
    <div>
      <div>
        <p>Answer <%= i+1 %> (<%= answer.right ? 'Correct' : 'Wrong' %>):</p>
        <%= answer.answer %>
      </div>
      <div>
        <p>Explanation:</p>
      <%= answer.explanation %>
      </div>
      <%= link_to "EDIT", edit_answer_path(answer), class: 'btn-all btn-prim' %>
    </div>
  <% end %>

  <p><strong>Add an answer:</strong></p>
  <!-- Form to add a new answer :
    - This form is always visible (the user can add as many answers as they wish)
    - This form is always empty by default
    - There can be multiple "right" answers -->
  <%= simple_form_for [@content_question, @new_answer] do |f| %>
    <%= f.input :answer, required: true %>
    <%= f.input :explanation, required: true %>
    <p>Is this answer correct? <%= f.radio_button :right, true,  required: true %> Yes
    <%= f.radio_button :right, false, required: true %> No </p>
    <%= f.button :submit, "SAVE", class: 'btn-all btn-yllw' %>
  <% end %>

<% end %>


<h2>Institutions</h2>

<div id="pmi-cards">
  <%= render 'policy_makings/partials/pmi_cards', policy_making_institutions: @policy_making_institutions %>
</div>

<p>Add an Institution to <%= @policy_making.topic.name %> in <%= @policy_making.country.name %> </p>

<div id="new-pmi-form">
  <%= render 'policy_makings/partials/new_policy_making_institution', policy_making: @policy_making, policy_making_institution: @policy_making_institution %>
</div>

<p>Can't find the Institution you are looking for? <strong>Add a new Institution:</strong></p>

<div id="new-institution-form">
  <%= render 'policy_makings/partials/new_institution', institution: @institution, policy_making: @policy_making %>
</div>


<p>Question on the Institutions </p>

<% if @institutions_question.nil? %>
  <!-- Form to add a new "institutions" question :
    - This form is only visible if no "institutions" question has been added
    - Scope is added automatically (hidden field) -->
  <%= simple_form_for [@policy_making, @new_question] do |f| %>
    <%= f.input :question, required: true %>
    <%= f.input :scope, as: :hidden,  input_html: {value: "institutions"} %>
    <%= f.button :submit, "SAVE", class: 'btn-all btn-yllw' %>
  <% end %>

<% else %>
  <!-- Form to edit the "institutions" question :
    - This form becomes visible as soon as the "institutions" question has been added
    - This form is pre-filled with the current "institutions" question -->
  <%= simple_form_for @institutions_question do |f| %>
    <%= f.input :question, required: true %>
    <%= f.button :submit, "SAVE", class: 'btn-all btn-yllw' %>
  <% end %>

  <!-- All answers are displayed here -->
  <% @institutions_question.answers.each_with_index do |answer, i| %>
    <div>
      <div>
        <p>Answer <%= i+1 %> (<%= answer.right ? 'Correct' : 'Wrong' %>):</p>
        <%= answer.answer %>
      </div>
      <div>
        <p>Explanation:</p>
      <%= answer.explanation %>
      </div>
      <%= link_to "EDIT", edit_answer_path(answer), class: 'btn-all btn-prim' %>
    </div>
  <% end %>

  <p><strong>Add an answer:</strong></p>
  <!-- Form to add a new answer :
    - This form is always visible (the user can add as many answers as they wish)
    - This form is always empty by default
    - There can be multiple "right" answers -->
  <%= simple_form_for [@institutions_question, @new_answer] do |f| %>
    <%= f.input :answer, required: true %>
    <%= f.input :explanation, required: true %>
    <p>Is this answer correct? <%= f.radio_button :right, true,  required: true %> Yes
    <%= f.radio_button :right, false, required: true %> No </p>
    <%= f.button :submit, "SAVE", class: 'btn-all btn-yllw' %>
  <% end %>


<% end %>
