<h1>PolicyMakings#new</h1>

<%= simple_form_for @policy_making do |f| %>
  <%= f.input :country_id, required: true, collection: Country.all, input_html: {class: "select2"} %>
  <%= f.input :topic_id, required: true, collection: Topic.all, input_html: {class: "select2"} %>
  <%= f.input :content, as: :text, :input_html => { :cols => 5, :rows => 10 } %>
  <%= f.input :ambassador_id, required: true, collection: Ambassador.all, input_html: {class: "select2"} %>

  <div class="btn-container"><%= f.button :submit, "Add", class: 'btn-all btn-yllw' %></div>
<% end %>
