<h1>PolicyMakings#show</h1>

<p> Policy Making id : <%= @policy_making.id %> </p>
<p> Country: <%= @policy_making.country.name %> </p>
<p> Topic: <%= @policy_making.topic.name %> </p>
<p> Ambassador: <%= @policy_making.ambassador.name %> </p>
<p> Content: <%= @policy_making.content %> </p>

