<main>
  <section class="bkg-blue py-5">
    <div class="container">
      <h1><%= @policy_making.topic.name %> Policymaking in <%= @policy_making.country.name %></h1>
      <h2><mark class="mark-yllw">How does it work?</mark></h2>
      <div class="container-short">
        <% if @policy_making.video_url %>
          <div class="my-5">
            <iframe class="video" src="<%= @policy_making.video_url %>" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <% if @policy_making.video_source %>
              <p class="subtitle"><em>by <%= @policy_making.video_source %></em></p>
            <% end %>
          </div>
        <% end %>
        <p><%= @policy_making.content %></p>
        <% if @content_question %>
          <p class="mt-5"><strong><%= @content_question.question %></strong></p>
          <% @content_answers.each do |answer| %>
            <div class="d-flex card-all card-answer">
              <button class="selector"></button>
              <p><%= answer.answer %></p>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </section>
  <section class="py-5">
    <div class="container">
      <h2><mark class="mark-yllw">Institutions</mark></h2>
      <p>Who are the actors involved and what role do they play?</p>
      <div class="container d-flex">
        <div class="row w-100 pt-4">
          <% @policy_making_institutions.each do |pmi| %>
            <div class="col-12 col-sm-6 col-md-4 col-lg-3">
              <%= link_to pm_choose_institution_path(policy_making_id: @policy_making.id, policy_making_institution_id: pmi.id), remote: true do %>
                <div class="card-all card-square card-clickable">
                  <%= cl_image_tag pmi.institution.logo.key, crop: :thumb, height: 300, width: 300, class:"avatar-large" %>
                  <p><%= pmi.institution.name %></p>
                </div>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
      <div id="institution-description">
        <%= render 'policy_makings/partials/institution_description', policy_making: @policy_making, policy_making_institution: @policy_making_institutions.first %>
      </div>
      <div class="container-short">
        <% if @institution_question %>
          <p class="mt-5"><strong><%= @institution_question.question %></strong></p>
          <% @institution_answers.each do |answer| %>
            <div class="d-flex card-all card-answer">
              <button class="selector"></button>
              <p><%= answer.answer %></p>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </section>
</main>



