<main>
  <section class="bkg-blue py-5">
    <div class="container">
      <h1><%= @policy_making.topic.name %> Policymaking in <%= @policy_making.country.name %></h1>
      <h2><mark class="mark-yllw">How does it work?</mark></h2>
      <div class="container-short">
        <% if @policy_making.video_url && !@policy_making.video_url.empty? %>
          <div class="my-5">
            <iframe class="video" src="<%= @policy_making.video_url %>" title="YouTube video player" frameborder="0" allowfullscreen></iframe>
            <% if @policy_making.video_source && !@policy_making.video_source.empty? %>
              <p class="subtitle"><em>by <%= @policy_making.video_source %></em></p>
            <% end %>
          </div>
        <% end %>
        <p><%= @policy_making.content %></p>
        <% if @content_question %>
          <p class="mt-5"><strong><%= @content_question.question %></strong></p>
          <div id="answers-question-<%= @content_question.id %>">
            <%= render 'policy_makings/partials/answers_before',
                question: @content_question,
                answers: @content_answers %>
          </div>
        <% end %>
      </div>
    </div>
  </section>
  <% if !@policy_making_institutions.empty? %>
    <section class="py-5">
      <div class="container">
        <h2><mark class="mark-yllw">Institutions</mark></h2>
        <p>Who are the actors involved and what role do they play?</p>
        <div id="institutions-list">
          <%= render 'policy_makings/partials/institutions_list',
              policy_making: @policy_making,
              policy_making_institutions: @policy_making_institutions,
              pmi_selected: @policy_making_institutions.first %>
        </div>
        <div id="institution-description">
          <%= render 'policy_makings/partials/institution_description',
              policy_making: @policy_making,
              policy_making_institution: @policy_making_institutions.first %>
        </div>
        <div class="container-short">
          <% if @institution_question %>
            <p class="mt-5"><strong><%= @institution_question.question %></strong></p>
            <div id="answers-question-<%= @institution_question.id %>">
              <%= render 'policy_makings/partials/answers_before',
                  question: @institution_question,
                  answers: @institution_answers %>
            </div>
          <% end %>
        </div>
      </div>
    </section>
  <% end %>
  <% if !@policy_plans.empty? %>
    <section class="py-5">
      <div class="container">
        <h2><mark class="mark-yllw">Policy Plans</mark></h2>
        <p>Follow the path some policies took from draft to reality. Where did youth contributed?</p>
        <% @policy_plans.each do |policy_plan| %>
          <div class="card-all my-3">
            <div class="px-4">
              <h2><mark class="mark-blue"><%= policy_plan.name %></mark></h2>
              <p><%= policy_plan.short_description %></p>
              <%= link_to policy_plan_path(policy_plan) do %>
                <button class="btn-all btn-prim my-2">Learn more</button>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
    </section>
  <% end %>
</main>



