<main>
  <section class="bkg-blue py-5">
    <div class="container">
      <h1><%= @policy_making.topic.name %> Policymaking in <%= @policy_making.topic.name %></h1>
      <h2><mark class="mark-yllw">How does it work?</mark></h2>
      <div class="container-short">
        <% if @policy_making.video_url %>
          <div class="my-5">
            <iframe class="video" src="<%= @policy_making.video_url %>" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <% if @policy_making.video_source %>
              <p class="subtitle"><em>by <%= @policy_making.video_source %></em></p>
            <% end %>
          </div>
        <% end %>
        <p><%= @policy_making.content %></p>
        <% if @content_question %>
          <p class="mt-5"><strong><%= @content_question.question %></strong></p>
          <% @content_answers.each do |answer| %>
            <div class="d-flex card-all card-answer">
              <button class="selector"></button>
              <p><%= answer.answer %></p>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </section>
</main>



