<main>
  <section class="bkg-blue py-5">
    <div class="container">
      <h1><%= @policy_making.topic.name %> Policymaking in <%= @policy_making.country.name %></h1>
      <h2><mark class="mark-yllw">How does it work?</mark></h2>
      <div class="container-short">
        <% if @policy_making.video_url %>
          <div class="my-5">
            <iframe class="video" src="<%= @policy_making.video_url %>" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <% if @policy_making.video_source %>
              <p class="subtitle"><em>by <%= @policy_making.video_source %></em></p>
            <% end %>
          </div>
        <% end %>
        <p><%= @policy_making.content %></p>
        <% if @content_question %>
          <p class="mt-5"><strong><%= @content_question.question %></strong></p>
          <div id="answers-question-<%= @content_question.id %>">
            <%= render 'shared/answers_before',
                question: @content_question,
                answers: @content_answers %>
          </div>
        <% end %>
      </div>
    </div>
  </section>
  <section class="py-5">
    <div class="container">
      <h2><mark class="mark-yllw">Institutions</mark></h2>
      <p>Who are the actors involved and what role do they play?</p>
      <div id="institutions-list">
        <%= render 'policy_makings/partials/institutions_list',
            policy_making: @policy_making,
            policy_making_institutions: @policy_making_institutions,
            pmi_selected: @policy_making_institutions.first %>
      </div>
      <div id="institution-description">
        <%= render 'policy_makings/partials/institution_description',
            policy_making: @policy_making,
            policy_making_institution: @policy_making_institutions.first %>
      </div>
      <div class="container-short">
        <% if @institution_question %>
          <p class="mt-5"><strong><%= @institution_question.question %></strong></p>
          <div id="answers-question-<%= @institution_question.id %>">
            <%= render 'shared/answers_before',
                question: @institution_question,
                answers: @institution_answers %>
          </div>
        <% end %>
      </div>
    </div>
  </section>
</main>



