<main>
  <section class="pt-3 pb-5 bkg-blue">
    <div class="container">
      <p class="pb-5 breadcrumbs"><%= link_to "#{@policy_making.topic.name} in #{@policy_making.country.name}", policy_making_path(@policy_making) %> / <%= @policy_plan.name %></p>
      <h1><%= @policy_plan.name %></h1>
      <div class="container-short pt-3">
        <p><%= @policy_plan.content %></p>
        <% if @policy_plan.video_url && !@policy_plan.video_url.empty? %>
          <div class="my-5">
            <iframe class="video" src="<%= @policy_plan.video_url %>" title="YouTube video player" frameborder="0" allowfullscreen></iframe>
            <% if @policy_plan.video_source && !@policy_plan.video_source.empty? %>
              <p class="subtitle"><em>by <%= @policy_plan.video_source %></em></p>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </section>
  <% if !@policy_plan_institutions.empty? %>
    <section class="py-5">
      <div class="container">
        <h2><mark class="mark-yllw">Institutions</mark></h2>
        <p>Who was involved and how? Click on an institution to learn more.</p>
        <%= render 'institutions/partials/institutions_list',
            policy_institutions: @policy_plan_institutions %>
      </div>
    </section>
  <% end %>
  <% if @policy_plan.goals && !@goals.empty? %>
    <section class="py-5">
      <div class="container">
        <h2 class="mb-5"><mark class="mark-yllw">Goals</mark></h2>
        <div id="goal-<%= @goals.first.id %>">
          <%= render 'policy_plans/partials/goal_open',
              policy_plan: @policy_plan,
              goal: @goals.first,
              game_question: @next_question,
              game_answers: @next_answers %>
        </div>
        <% @goals.slice(1..).each do |goal| %>
          <div id="goal-<%= goal.id %>">
            <%= render 'policy_plans/partials/goal_closed',
                policy_plan: @policy_plan,
                goal: goal %>
          </div>
        <% end %>
      </div>
    </section>
  <% elsif !@timesteps.empty? && !@game_questions.empty? %>
    <section class="py-5">
      <div id="tab">
        <%= render 'policy_plans/partials/tab',
            policy_plan: @policy_plan,
            selected: 'gamebook' %>
      </div>
      <div id="gamebook-timeline">
        <%= render 'policy_plans/partials/gamebook',
            policy_plan: @policy_plan,
            game_questions: @game_questions,
            next_question: @next_question,
            next_answers: @next_answers %>
      </div>
    </section>
  <% elsif !@timesteps.empty? %>
    <section class="py-5">
      <%= render 'policy_plans/partials/timeline',
          timesteps: @timesteps %>
    </section>
  <% end %>
  <% if !@young_contributors.empty? %>
    <section class="py-5">
      <div class="container">
        <h2 class="mb-5"><mark class="mark-yllw">Youth Contribution</mark></h2>
        <% @young_contributors.each do |contributor| %>
          <div class="card-all d-flex flex-column flex-md-row my-3">
            <%= cl_image_tag contributor.logo.key, crop: :thumb, height: 300, width: 300, class:"logo mx-4 mb-4 mt-2" %>
            <div>
              <h3><mark class="mark-blue"><%= contributor.name %></mark></h3>
              <p><%= contributor.description %></p>
              <%= link_to 'Learn more', contributor.website_url, target: '_blank', class: 'text-link' %>
            </div>
          </div>
        <% end %>
      </div>
    </section>
  <% end %>
</main>
