<main>
  <section class="pt-3 pb-5 bkg-blue">
    <div class="container">
      <p class="pb-5 breadcrumbs"><%= link_to "#{@policy_making.topic.name} in #{@policy_making.country.name}", policy_making_path(@policy_making) %> / <%= @policy_plan.name %></p>
      <h1><%= @policy_plan.name %></h1>
      <div class="container-short">
        <p><%= @policy_plan.content %></p>
        <% if @policy_plan.video_url && !@policy_plan.video_url.empty? %>
          <div class="my-5">
            <iframe class="video" src="<%= @policy_plan.video_url %>" title="YouTube video player" frameborder="0" allowfullscreen></iframe>
            <% if @policy_plan.video_source && !@policy_plan.video_source.empty? %>
              <p class="subtitle"><em>by <%= @policy_plan.video_source %></em></p>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </section>
  <% if !@policy_plan_institutions.empty? %>
    <section class="py-5">
      <div class="container">
        <h2><mark class="mark-yllw">Institutions</mark></h2>
        <p>Who was involved and how?</p>
        <div id="institutions-list">
          <%= render 'policy_plans/partials/institutions_list',
              policy_plan: @policy_plan,
              policy_plan_institutions: @policy_plan_institutions,
              ppi_selected: @policy_plan_institutions.first %>
        </div>
        <div id="institution-description">
          <%= render 'policy_plans/partials/institution_description',
              policy_plan: @policy_plan,
              policy_plan_institution: @policy_plan_institutions.first %>
        </div>
      </div>
    </section>
  <% end %>
  <% if @policy_plan.strategy && !@goals.empty? %>
    <section class="py-5">
      <div class="container">
        <h2 class="mb-5"><mark class="mark-yllw">Goals</mark></h2>
        <%= render 'policy_plans/partials/goals_open',
            goal: @goals.first,
            goal_question: @next_question,
            goal_answers: @next_answers %>
      </div>
    </section>
  <% elsif !@timesteps.empty? && !@game_questions.empty? %>
    <section class="py-5">
      <div id="tab">
        <%= render 'policy_plans/partials/tab',
            policy_plan: @policy_plan,
            selected: 'gamebook' %>
      </div>
      <div id="gamebook-timeline">
        <%= render 'policy_plans/partials/gamebook',
            policy_plan: @policy_plan,
            game_questions: @game_questions,
            next_question: @next_question,
            next_answers: @next_answers %>
      </div>
    </section>
  <% elsif !@timesteps.empty? %>
    <section class="py-5">
      <%= render 'policy_plans/partials/timeline',
          timesteps: @timesteps %>
    </section>
  <% end %>
</main>
